@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/styles/cruzeiros_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/cruzeiros_responsive.css">
}
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../images/cruzeiros/cruzeiros.jpg"></div>
		<div class="home_content">
			<div class="home_title">Cruzeiros</div>
			<div class="home_title"></div>
		</div>
	</div>

					

				<div class="col-lg-12">
					<!-- Offers Grid -->

					<div class="offers_grid">

						<!-- Offers Item -->
						@foreach (var cruzeiro in Model)
						{
						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@@kensuarez -->
										<div class="offers_image_background" 
											style="background-image:url('@Url.Content("../" + cruzeiro.Image)')"></div>
										<div class="offer_name"><a href="single_listing.html">@cruzeiro.Nome</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">R$ @cruzeiro.Preco<span>por pessoa</span></div>
										<p class="offers_text mb-2">@Html.Raw(cruzeiro.Descricao)</p>
									</div>
								</div>
							</div>
						</div>
						}

					</div>
				</div>

			</div>
		</div>		
	</div>

@section Scripts {
	<script src="~/js/jquery-3.2.1.min.js"></script>
	<script src="~/styles/bootstrap4/popper.js"></script>
	<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="~/plugins/easing/easing.js"></script>
	<script src="~/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="~/js/offers_custom.js"></script>
}