@model List<AmandaViagens.Models.PontoTuristico>
@{
    ViewData["Title"] = "Home Page";
}




	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->

		<div class="home_slider_container">
			
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item home_slider_item">
					<!-- Image by https://unsplash.com/@@anikindimitry -->
					<div class="home_slider_background" style="background-image:url(images/index.jpg)"></div>

					<div class="home_slider_content text-center">
						<div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
							<h1 style="color:white; font-size: 70px">O mundo é um livro</h1>
							<h2 style="color:white; font-size: 55px">e aquele que não viaja lê sempre a mesma página</h2>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	</div>

	<!-- Search -->

	<div class="search" style="height: fit-content">
		

		<!-- Search Contents -->
		
		<div class="container fill_height">
			<div class="row fill_height">
				<div class="col fill_height" >
					<div class="d-flex align-items-center justify-content-around flex-wrap" style="height: 100%;">
						<a class="btn btn-primary" asp-action="Ingressos" asp-controller="Home">
							<img src="images/ingressos.png" width="110px" alt="ingressos">
						</a>
						<a class="btn btn-primary" asp-action="Cruzeiros" asp-controller="Home">
							<img src="images/navio.png" width="110px" alt="cruzeiro">
						</a>
						<a class="btn btn-primary" asp-action="Feedback" asp-controller="Home">
							<img src="images/feedback.png" width="110px" alt="feedback">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
				

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="section_title">Conheça alguns pontos turísticos famosos</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<!-- Testimonials Slider -->

					<div class="test_slider_container">
						<div class="owl-carousel owl-theme test_slider">

							<!-- Testimonial Item -->
							@foreach (var ponto in Model)
							{
								<div class="owl-item">
									<div class="test_item">
										<div class="test_image"><img src="@ponto.Image" alt="https://unsplash.com/@@anniegray"></div>
										<div class="test_icon"><img src="@ponto.Icone" alt=""></div>
										<div class="test_content_container">
											<div class="test_content">
												<div class="test_item_info">
													<div class="test_name">@ponto.Nome</div>
												</div>
												<p class="test_quote_text">@Html.Raw(ponto.Descricao)</p>
											</div>
										</div>
									</div>
								</div>
							}
							

						</div>

						<!-- Testimonials Slider Nav - Prev -->
						<div class="test_slider_nav test_slider_prev">
							<i class="bi bi-arrow-bar-left" style="font-size: 32px; color:#023959"></i>
						</div>
						
						<!-- Testimonials Slider Nav - Next -->
						<div class="test_slider_nav test_slider_next">
							
							<i class="bi bi-arrow-bar-right" style="font-size: 32px; color:#023959"></i>
						</div>

					</div>
					
				</div>
			</div>

		</div>
	</div>


	@section Scripts {
	<script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap4/popper.js"></script>
    <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/js/custom.js"></script>
	}

	