@model List<AmandaViagens.Models.Ingresso>
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/styles/ingressos_styles.css">
	<link rel="stylesheet" type="text/css" href="~/styles/ingressos_responsive.css">
}
<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll"
		data-image-src="../images/ingressos/ingressos.jpg"></div>
	<div class="home_content">
		<div class="home_title">Ingressos</div>
		<div class="home_title"></div>
	</div>
</div>



<div class="col-lg-12">
	<!-- Offers Grid -->

	<div class="offers_grid mb-5">

		<!-- Offers Item -->
		@foreach (var ingresso in Model)
		{
			<div class="offers_item">
				<div class="row" style="height: 250px;">
					<div class="col-lg-1 temp_col"></div>
					<div class="col-lg-3 col-1680-4">
						<div class="offers_image_container">
							<div class="offers_image_background"
								style="background-image:url('@Url.Content("../" + ingresso.Image)')"></div>
							<div class="offer_name"><a href="#">@ingresso.Nome</a></div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="offers_content">
							<div class="offers_price my-2">R$ @ingresso.Preco<span>por ingresso</span></div>
							<p class="offers_text mb-2">@Html.Raw(ingresso.Descricao)</p>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
</div>


@section Scripts {
	<script src="~/js/jquery-3.2.1.min.js"></script>
	<script src="~/styles/bootstrap4/popper.js"></script>
	<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="~/plugins/easing/easing.js"></script>
	<script src="~/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="~/js/offers_custom.js"></script>
}