@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/styles/feedback_styles.css">
	<link rel="stylesheet" type="text/css" href="~/styles/feedback_responsive.css">
	<style>
		.test_content_container {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			padding: 5px;
			background: #46a6a6b6;
		}

		.test_name {
			font-size: 14px;
			font-weight: 700;
			color: #ffffff;
			text-transform: uppercase;
		}
	</style>
}

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../images/sobrenos.jpg"></div>
	<div class="home_content">
		<div class="home_title">Sobre Nós</div>
	</div>
</div>



<!-- Blog -->

<div class="blog">
	<div class="container">
		<div class="row">
			

			<!-- Blog Content -->

			<div class="col-lg-8">
				

				<div class="blog_post_container">

					<!-- Blog Post -->

					<div class="blog_post">
						<div class="blog_post_image">
							<img src="../images/coquetel.jpg">
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="testimonials">
		<div class="test_border"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="section_title">Momentos Especiais que o Turismo me proporciou</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<!-- Testimonials Slider -->
					<div class="test_slider_container">
						<div class="owl-carousel owl-theme test_slider">

							<!-- Testimonial Item -->
							<div class="owl-item">
								<div class="test_item">
									<div class="test_image">
										<img src="~/images/chile.png" alt="https://unsplash.com/@@tschax">
									</div>
									<div class="test_content_container">
										<div class="test_name text-white">Valle Nevado, Chile</div>
									</div>
								</div>
							</div>

							<!-- Testimonial Item -->
							<div class="owl-item">
								<div class="test_item">
									<div class="test_image">
										<img src="~/images/ancoradouro.png" alt="https://unsplash.com/@@tschax">
									</div>
									<div class="test_content_container">
										<div class="test_name text-white">Abertura do 27º Encontro Ancoradouro</div>
									</div>
								</div>
							</div>

							<!-- Testimonial Item -->
							<div class="owl-item">
								<div class="test_item">
									<div class="test_image">
										<img src="~/images/inauguraçãocruzeiro.png" alt="https://unsplash.com/@@tschax">
									</div>
									<div class="test_content_container">
										<div class="test_name text-white"> Inauguração do gigante MSC SEAVIEW</div>
									</div>
								</div>
							</div>

							<!-- Testimonial Item -->
							<div class="owl-item">
								<div class="test_item">
									<div class="test_image">
										<img src="~/images/SEASHORE.png" alt="https://unsplash.com/@@tschax">
									</div>
									<div class="test_content_container">
										<div class="test_name text-white">Inauguração do Navio MSC SEASHORE</div>
									</div>
								</div>
							</div>

						</div>



						<!-- Testimonials Slider Nav - Prev -->
						<div class="test_slider_nav test_slider_prev">
							<i class="bi bi-arrow-bar-left" style="font-size: 32px; color:#023959"></i>
						</div>

						<!-- Testimonials Slider Nav - Next -->
						<div class="test_slider_nav test_slider_next">
							<i class="bi bi-arrow-bar-right" style="font-size: 32px; color:#023959"></i>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/jquery-3.2.1.min.js"></script>
	<script src="~/styles/bootstrap4/popper.js"></script>
	<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
	<script src="~/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="~/js/blog_custom.js"></script>
}